@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto&display=swap');
* {
    /* Reset CSS */
    margin: 0;
    padding: 0;
}

body {
    /* Usar o 100% da tela*/
    height: 100vh;
    /* Para imagem nao sair do body */
    box-sizing: border-box;
    background-color: black;
    /* Mudar a cor do texto */
    color: #F6F6F6
}
/* Define uma cor padrão para a tag strong */
strong {
    color: #22d4fd;
}
/* Define um estilo exclusivo para tag span*/
span{
    color: #22D4FD;

}
/* Acessando a class criada no HTML */
.titulo-destaque {
    color: #22d4fd;
}
/* Chamando a class, https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.apresentacao {
    margin: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
}

.apresentacao__conteudo__titulo {
font-size: 36px;
font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
}